<nav class="navbar navbar-expand-md navbar-dark main-nav">
  <div class="container-fluid">
    <a routerLink="/members/list" class="nav-logo-text">
      <h4>RT Controle de IMC</h4>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="showMenu = !showMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [hidden]="!showMenu">
      <ul class="navbar-nav offset-md-2 main-menu">
        <li>
          <a routerLink="/members/list" routerLinkActive="active">ALUNOS</a>
        </li>
        <li>
          <a routerLink="security/login/create" routerLinkActive="active">LOGIN</a>
        </li>
        <li>
          <a routerLink="/admin/users/list" routerLinkActive="active">ADMIN</a>
        </li>
      </ul>
    </div>

    <div class="nav-login-logout">
      <span>{{ userLoggedIn }}</span>
      <a routerLink="auth/login"> // LOGOUT </a>
    </div>
  </div>
</nav>
