<div class="container">
  <!--container é uma classe do bootstrap-->
  <div class="member-title">
    <h2>Controle de IMC dos alunos da RT Academy</h2>
  </div>
  <div class="member-filter-container">
    <a routerLink="/members/create">
      <button class="btn btn-primary text-white btn-crud-new">NOVO ALUNO</button>
    </a>
  </div>
  <div class="member-card">
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="members"
          [responsive]="true"
          [paginator]="true"
          [rows]="4"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Aluno</th>
              <th>Instrutor</th>
              <th>Altura</th>
              <th>Peso</th>
              <th>IMC</th>
              <th>Classificação</th>
              <th class="actions"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-member>
            <tr>
              <td>
                <!--a classe "p-column-title" é do PrimeNG-->
                <span class="p-column-title">Aluno</span>
                {{ member.name }}
              </td>

              <td>
                <span class="p-column-title">Instrutor</span>
                {{ member.trainer }}
              </td>

              <td>
                <span class="p-column-title">Altura</span>
                {{ member.height }}
              </td>

              <td>
                <span class="p-column-title">Peso</span>
                {{ member.weight }}
              </td>

              <td>
                <span class="p-column-title">IMC</span>
                {{ member.imc }}
              </td>

              <td>
                <span class="p-column-title">Classificação</span>
                <div *ngIf="member.classification === 'MAGREZA'">
                  <span [style.color]="'DarkTurquoise'">{{
                    member.classification
                  }}</span>
                </div>
                <div *ngIf="member.classification === 'NORMAL'">
                  <span [style.color]="'Lime'">{{
                    member.classification
                  }}</span>
                </div>
                <div *ngIf="member.classification === 'SOBREPESO'">
                  <span [style.color]="'Goldenrod'">{{
                    member.classification
                  }}</span>
                </div>
                <div *ngIf="member.classification === 'OBESIDADE'">
                  <span [style.color]="'DarkRed'">{{
                    member.classification
                  }}</span>
                </div>
                <div *ngIf="member.classification === 'OBESIDADE GRAVE'">
                  <span [style.color]="'red'">{{ member.classification }}</span>
                </div>
              </td>

              <td class="col-actions">
                <a
                  pButton
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                ></a>
                <button
                  pButton
                  icon="pi pi-trash"
                  pTooltip="Excluir"
                  tooltipPosition="top"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
