<div class="filter-container">
  <form class="filter-form">
    <div class="filter-name-container">
      <input
        type="text"
        class="form-control"
        placeholder={{text}}
        name="name"
      />
      <button class="filter-search-icon">
          <img src="assets/images/search-icon.svg" alt="filtro" />
      </button>
    </div>
    <div class="filter-bottom-container">
      <button
        class="btn btn-outline-secondary btn-filter-clear"
      >
        LIMPAR<span class="btn-filter-word"> FILTRO</span>
      </button>
    </div>
  </form>
</div>
